.btn {
  font-family: var(--font-text);
  width: 100%;
  border-radius: 16px;
  background-color: #fe2c55;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 10px;

  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.88px;
  border: 0;
  cursor: pointer;
}
