.acquaintance {
  margin-bottom: 10px;
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 100%;
    max-width: 1020px;
    display: flex;
    margin-right: 60px;
  }

  &__info {
    width: 100%;
    max-width: 395px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    padding-left: 30px;
    font-size: 22px;
    letter-spacing: -0.88px;
    position: relative;
    margin-bottom: 35px;

    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      left: 0;
      top: 10px;
      border-radius: 50%;
      background: #25f5ef;
      box-shadow: 0px 0px 12px 0px #25f5ef;
    }
  }

  &__link {
    border-radius: 6px;
    border: 1px solid #25f5ef;
    background-color: rgba(16, 16, 16, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8) inset;
    backdrop-filter: blur(5px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 257px;
    position: relative;
    padding: 4px 10px;
    margin-left: -100px;

    p {
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.96px;
      text-transform: lowercase;
    }
  }

  &__link-img {
    width: 100%;
    max-width: 56px;
    display: flex;

    position: absolute;
    top: 50%;
    right: -23.5px;
    transform: translateY(-50%);
  }
}

@media (max-width: 1000px) {
  .acquaintance {
    margin-bottom: 60px;
    &__wrapper {
      flex-direction: column;
    }
    &__img {
      max-width: 600px;
    }
    &__link {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .acquaintance {
    &__text {
      font-size: 18px;
      &::before {
        top: 6px;
      }
    }
  }
}
