.packages {
  margin-bottom: 77px;
  position: relative;

  &__wrapper {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    max-width: 628px;
    margin: 0 auto 95px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 100px;
  }

  &__item {
    border-radius: 20px;
    background-color: #fff;
    color: #101010;
    padding: 0 20px 26px;
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      .packages__item-img {
        max-width: 136px;
        margin-top: -51px;
      }
    }
    &:nth-child(2) {
      .packages__item-img {
        margin-top: -71px;
        max-width: 102px;
      }
    }
    &:nth-child(3) {
      .packages__item-img {
        max-width: 150px;
        margin-top: -54px;
      }
    }
  }

  &__item-img {
    width: 100%;
    margin: 0 auto 5px;
  }

  &__item-title {
    text-align: center;
    margin-bottom: 12px;
    padding-top: 12px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 112px;
      height: 1px;
      background-color: #101010;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__item-elems {
    margin-bottom: 24px;
  }

  &__item-elem {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }

    &--lock {
      opacity: 0.6000000238418579;

      .packages__item-elem-title {
        &::before {
          background-color: #101010;
        }
      }
    }
  }

  &__item-elem-title {
    padding-left: 16px;
    position: relative;
    font-weight: 600;
    letter-spacing: -0.64px;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: #fe2c55;
      border-radius: 50%;
      left: 0;
      top: 7px;
    }
  }

  &__item-elem-text {
  }

  &__item-info {
    text-align: center;
    margin: auto 0 0;
  }

  &__item-info-suptitle {
    font-size: 16px;
    letter-spacing: -0.64px;
    text-decoration: line-through;
    font-family: var(--font-text-2);
    opacity: 0.6000000238418579;
    margin-bottom: 8px;
  }

  &__item-info-title {
    font-size: 20px;
    font-family: var(--font-text-2);
    letter-spacing: -0.8px;
  }

  &__item-info-subtitle {
    letter-spacing: -0.64px;
    opacity: 0.6000000238418579;
    margin-bottom: 24px;
  }

  &__item-info-btn {
    width: 100%;
    max-width: 149px;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .packages {
    &__items {
      grid-column-gap: 20px;
    }
  }
}

@media (max-width: 768px) {
  .packages {
    &__items {
      max-width: 450px;
      margin: 0 auto;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
