// font-family: 'Days One', sans-serif;
// font-family: 'Manrope', sans-serif;

@font-face {
  font-family: 'Days One';
  src: url('../fonts/days-one.ttf') format('truetype');
  font-weight: normal;
}
